@model DoAn.Areas.Admin.Models.DongDienThoaiModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DongDienThoaiModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDongDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDongDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MauSac)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IMEI">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
