<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                        <li><a href="cart.html"><i class="fa fa-user"></i> My Cart</a></li>
                        <li><a href="checkout.html"><i class="fa fa-user"></i> Checkout</a></li>
                        <li> @Html.ActionLink("Login", "Login", "Home")</li>
                        <li> @Html.ActionLink("Registration", "Registration", "Home")</li>
                    </ul>
                </div>
            </div>

            @*<div class="col-md-4">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">

                            <i class="fa fa-user"> @Html.ActionLink("Login", "dangnhap", "Home")</i>
                        </li>
                        <li class="dropdown dropdown-small">
                            <i class="fa fa-user"> @Html.ActionLink("Registration", "dangnhap", "Home")</i>
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
</div> <!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="./" style="color:#5a88ca;font-family:Rockwell">QHT Mobie </a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="cart.html">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="mymenu">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Shop page", "Shop", "Home")</li>
                    <li>@Html.ActionLink("Single product", "SingleProduct", "Home")</li>
                    <li>@Html.ActionLink("Cart", "Cart", "Home")</li>
                    <li>@Html.ActionLink("Checkout", "Checkout", "Home")</li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Others</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->

@section Scripts {
    <script>
     //Define your scripts
      $(function(){
          //When an <li> element in your myMenu area is clicked
          $('#mymenu li').click(function() {
                //Removes the active class from any <li> elements
                $('li.active').removeClass('active');
                //Adds it to the current element
                $(this).addClass('active');

         });
     });
    </script>
}