@model DoAn.Areas.Admin.Models.DienThoaiModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DienThoaiModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHangSX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHangSX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNCC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNCC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDongDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDongDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaKM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaKM)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaDongDT">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
