@model IEnumerable<DoAn.Areas.Admin.Models.DienThoaiModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHangSX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDongDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaKM)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHangSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDongDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaKM)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDongDT">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDongDT">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDongDT">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
